
body {
  background-color: black;
  color: white;
  text-align: center;
}

table {
  margin: auto;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
} 

.modal {
  display: none;
  background-color: rgb(222, 226, 228);
  border: 5px solid rgb(143, 143, 143);
  width: 200px;
  padding: 20px;
  color: black;
  font-size: 32px;

  position: absolute;
  top: 220px;
  left: calc(50% - 120px);
}

img {
  height: 30px;
}


